<head>
  <style>
    .main {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
</head>

<body>
<div class="main">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Событие</th>
          <th scope="col">Исход</th>
        </tr>
      </thead>
      <tbody>
        <% @mybets.each do |bet| %>
        <tr>
          <td><%= bet.created_at.strftime("%d %b %Y %H:%M") %></td>
          <td><%= bet.ratio %></td>
          <td><%= bet.bet_amount %></td>
          <% bet.each do |item|%>
          <td><%= item.bet_items.choise %></td>
          <td><%= item.events.team1 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</body>